.japonesa {
  font-family: "Noto Sans JP", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}
.arial {
  font-family: Arial, Helvetica, sans-serif;
}
.verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.lato {
    font-family: "Lato", sans-serif;
}
